.doc {
    background-color: #f5f5f5;
    height: 100%;
    overflow: hidden;

    .container {
        margin: 20px auto;
        width: 1180px;
        background-color: #ffffff;
        display: flex;
        border: 1px solid #eaeaea;

        //   左侧侧边栏 
        .doc-menu {
            text-align: center;
            width: 225px;
            border: 1px solid #eaeaea;

            // 列表区域
            .menu-list {

                // 激活类
                .active {
                    background-color: #006fef;

                    a {
                        color: #fff;
                    }
                }

                ul {
                    li {
                        line-height: 80px;
                        width: 100%;
                        height: 80px;
                        background-color: #fff;
                        text-align: center;
                        margin: 0 auto;

                        a {
                            font-size: 16px;
                            color: #000;
                        }
                    }
                }
            }
        }

        // 中间主体内容
        .doc-main {
            width: 955px;

            .doc-main-item {
                width: 100%;
                padding: 30px 40px;

                .doc-main-item-title {
                    font-size: 30px;
                    font-weight: 700;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #ebebeb;
                    margin-top: 10px;
                }

                .doc-main-item-desc {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }

                // 体质报告
                .doc-item-inclination-title {
                    font-size: 16px;
                    color: #000;
                }

                .doc-item-inclination-content {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .doc-item-inclination-content-three {
                        font-size: 13px;
                        color: #999;
                        line-height: 22px;
                        width: 400px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}