<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        var json1 = {
            "a": "aa",
            "b": "bb",
            "c": "cc"
        }
        var adaper = function (json) {
            var newArr = [];
            var map = {
                "a": 0,
                "b": 1,
                "c": 2
            }
            for (var i in map) {
                newArr[map[i]] = json[i]
            }
            return newArr
        }
        let result = adaper(json1) //得到想要arr格式
        console.log(result)
    </script>
</body>

</html>