.apply {
    width: 100%;

    // banner区域
    .apply-banner {
        width: 100%;
        height: 300px;
        background: url('./image/apply_bg.jpg') no-repeat;
        background-size: 100% 100%;

        .container {
            padding: 50px;
            position: relative;

            // 左侧
            .apply-banner-left {
                .title {
                    height: 56px;
                    overflow: hidden;
                    color: #fff;
                    font-size: 32px;
                    line-height: 48px;
                }

                .desc {
                    color: #fff;
                    font-size: 14px;
                    line-height: 30px;
                    height: 56px;
                }

                .btn-group {}
            }

            // 右侧
            .apply-banner-right {
                background: url('./image/apply1.png') no-repeat;
                width: 418px;
                height: 300px;
                bottom: 0;
                perspective: 800px;
                background-size: cover;
                position: absolute;
                right: 12px;
                top: -10px
            }

        }
    }
}