.home {
    width: 100%;

    // 公共的线
    .underline {
        padding-top: 15px;
        text-align: center;
        margin-bottom: 20px;

        .line {
            width: 15%;
            height: 1px;
            background-color: rgba(1, 1, 1, .4);
            display: inline-block;
        }

        .circle {
            display: inline-block;
            margin: 0 15px;
            width: 8px;
            height: 8px;
            background-color: #000;
            border-radius: 50%;
        }
    }

    .swiper-container {
        height: 500px;
        width: 100%;

        .swiper-wrapper {
            .swiper-slide {
                width: 100%;
                height: 100%;
                background-color: #42b983;
                text-align: center;
                line-height: 500px;
                background: url('./image/swiper1.jpg') no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    // 开放能力
    .ability {
        margin-top: 40px;

        .ability-title {
            text-align: center;
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: 400;
        }

        .ability-content {

            // 导航
            .ability-tabs-header {

                // 激活
                .AbilityNavActive {
                    border-bottom: 3px solid;
                    font-weight: bold;
                }

                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid #dadcdf;
                text-align: left;

                .ability-tabs-item {
                    padding-bottom: 18px;
                    margin-left: 93px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            // 主体

            .ability-tabs-pane {

                color: #000;
                padding-top: 40px;

                .ability-tabs-pane-content-item {
                    position: relative;

                    .ability-tabs-pane-content {
                        width: 685px;

                        .ability-tabs-pane-content-title {
                            margin-bottom: 24px;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                        }

                        .ability-tabs-pane-content-desc {
                            margin-bottom: 20px;
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .ability-tabs-pane-content-btn {
                            margin-bottom: 40px;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            display: block;
                            width: 92px;
                            height: 32px;
                            font-size: 14px;
                            line-height: 32px;
                            text-align: center;
                            color: #000;
                            border: 1px solid #000;
                        }

                        .ability-tabs-pane-content-pratice {
                            margin-bottom: 24px;
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                        }

                        .ability-tabs-pane-content-list {
                            a {
                                margin-right: 40px;

                                img {
                                    height: 54px;
                                    width: auto;
                                }
                            }
                        }
                    }

                    .ability-tabs-pane-content-item-img {
                        position: absolute;
                        width: 419px;
                        height: auto;
                        top: 50%;
                        right: 0;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }
        }

    }

    // 平台优势
    .advantage {
        background-color: #f7f7f7;
        margin-top: 20px;
        width: 100%;
        height: 500px;
        padding-top: 40px;

        .advantage-title {
            text-align: center;
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: 400;
        }

        .advantage-content {
            display: flex;
            justify-content: space-around;

            .advantage-content-item {
                width: 216px;

                i {
                    display: block;
                    margin: 0 auto;
                    height: 150px;
                    width: 150px;
                    overflow: hidden;

                    img {
                        height: 100%;
                    }
                }

                h3 {
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 18px;
                }

                .health-content {
                    text-align: center;
                    color: #333;
                    font-weight: 400;
                }
            }
        }
    }

    // 合作伙伴
    .cooperate {
        padding-top: 40px;
        padding-bottom: 40px;


        .cooperate-title {
            text-align: center;
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: 400;
        }

        .cooperate-content {
            .cooperate-item {
                display: flex;
                margin: 30px;

                .cooperate-item-img {}

                .cooperate-item-right-box {
                    padding: 15px 20px 15px 30px;
                    text-align: right;
                    height: 260px;

                    .cooperate-item-right-box-title {
                        text-align: left;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: Source Han Sans CN;
                        color: #333;
                    }

                    .cooperate-item-right-box-context {
                        padding-top: 10px;
                        padding-right: 20px;
                        text-align: left;
                        font-size: 14px;
                        line-height: 20px;
                    }


                    .cooperate-item-right-box-partner {
                        text-align: left;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: Source Han Sans CN;
                        color: #333;
                        padding-top: 25px;
                    }

                    .partner-box {
                        padding-top: 15px;

                        .every-partner {
                            width: 115px;
                            height: 50px;
                            float: left;
                            padding: 10px 0;
                            width: 115px;
                            text-align: center;
                            margin-right: 20px;
                            height: 50px;
                            background: #fff;
                            box-shadow: 0 2px 4px 0 rgb(0 0 0 / 18%);

                            img {
                                width: 70%;
                                height: 100%;
                            }
                        }

                    }
                }

            }
        }
    }

    // 新闻资讯
    .news {
        width: 100%;
        height: 620px;
        background-color: #f7f7f7;
        padding-top: 40px;

        .news-title {
            text-align: center;
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: 400;
        }

        .news-title-pane {
            display: flex;
            margin-top: 30px;
            justify-content: space-around;

            .news-title-pane-item {
                width: 380px;
                background-color: #fff;

                a {
                    .news-title-pane-item-img {
                        width: 100%;
                        overflow: hidden;
                        height: 180px;
                        margin-bottom: 20px;
                        background-size: cover;

                        img {
                            height: 180px;
                            width: auto;
                        }
                    }

                    .news-title-pane-item-box {
                        padding: 0 36px;
                        height: 232px;

                        .health-conTit {
                            text-align: left;
                            margin-bottom: 14px;
                            color: #2d2d2d;
                            margin-top: 0;
                            font-size: 20px;
                        }

                        .health-conTime {
                            font-size: 12px;
                            margin-top: 0;
                            line-height: 22px;
                            text-align: left;
                            color: #9b9b9b;
                            margin-bottom: 10px;
                        }

                        .health-content {
                            font-size: 12px;
                            margin-top: 0;
                            line-height: 22px;
                            text-align: left;
                            color: #333;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    // 数据展示
    .data {
        width: 100%;
        height: 600px;
        background: url('./image/data.jpg') no-repeat;
        background-size: 100% 100%;
        padding-top: 50px;
        margin-top: 100px;

        .data-text {
            p {
                text-align: center;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 80px;
            }
        }

        .data-content {
            width: 900px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;

            .data-item {
                font-size: 20px;
                margin-bottom: 20px;
                font-weight: 600;

                .big {
                    font-size: 52px;
                    font-weight: 600;
                    font-family: Arial;
                }
            }
        }

        .btn {
            text-align: center;
            margin-top: 40px;

            button {
                border: 2px solid #1a1a1a;
                border-radius: 25px;
                padding: 0 30px;
                font-size: 15px;
                background-color: #fff;
            }
        }
    }
}